body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.message-card {
  border: 1px black solid;
  
  padding: 0px;
}

.message-card h6{
  margin: 10px
}


.message-card p{
  margin: 10px
}

.message-card img{
  width: 25px;
}

div .chatroomCard{
  border: blue 5px solid;
  border-radius: 100px;
  text-align: center;
  width: 400px;
  margin: 25px auto;
  background-color: rgba(0, 0, 255, 0.5);
  color: white;
}

div .chatroomContainer {
  text-align: center;
}

div #createChatroomForm {
  border: 4px rgb(184, 25, 25) solid;
  padding: 25px;
  width: 650px;
  margin: auto;
}

div .message-card{
  width: 400px;
  border-radius: 25px;
  color: white;
  margin: 10px auto;
}